package config

import (
    "github.com/acm-uiuc/arbor/proxy"
    "github.com/acm-uiuc/arbor/security"
)

//Groot Specific configurations
const RecruiterToken string = ""
const AuthPrefix = "Basic "
const AuthURL string = "http://localhost:8008"
const AuthToken string = ""

//Arbor configurations
func LoadArborConfig() {
    security.AccessLogLocation = "log/access.log"
    security.ClientRegistryLocation = "clients.db"
    proxy.AccessControlPolicy = "*"
}